table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 5% auto;
  width: 75%;
  text-align: center;
  border-radius: 15px;
}

th,
td {
  height: 70px;
  border: 1px solid black;
}

th {
  background-color: #b4b1b1;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
